// Importing every .css class from Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~/node_modules/vanillajs-datepicker/sass/datepicker-bs5";

// Write css
.header-h {
  height: 10vh;
}

.nav-title {
  font-size: 2rem;
}

.content-h {
  height: 90vh;
}

.bi {
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  -webkit-transition: var(--bs-accordion-btn-icon-transition);
  transition: var(--bs-accordion-btn-icon-transition);
  font-size: var(--bs-accordion-btn-icon-width);
}

.accordion-header {
  width: 100%;
}

.accordion-item {
  position: relative;
}
.accordion-item::before {
  border-style: solid;
  border-color: red;
  height: 100%;
  width: 0px;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
.accordion-item:first-child::before {
  border-top-left-radius: 6px;
}

.accordion-item:last-child::before {
  border-bottom-left-radius: 6px;
  border-color: gold;
}

.due-date p {
  font-size: 0.8rem;
}

#main-content {
  position: relative;
}

.add-task-btn {
  width: auto;
  margin-top: 1rem;
  position: absolute;
  right: 0px;
}

.form-floating {
  margin-bottom: 1rem;
}

textarea.form-control {
  min-height: calc(1.5em + 5rem + 2px);
}

// Date picker
.input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-addon {
  cursor: pointer;
}

.input-group.date {
  text-transform: uppercase;
}