// Importing every .css class from Bootstrap
@import "~bootstrap/scss/bootstrap";

@function height($x, $y) {
  $result: $x - $y;
  @return $result;
}

// Write css
.header-h {
  height: 10vh;
}

.nav-title {
  font-size: 2rem;
}

@media screen and (max-height: 600px) {
  // .header-h {
  //   height: 10vh;
  // }

  .nav-title {
    font-size: 1rem;
  }
}

.content-h {
  height: 90vh;
}

.check-btn {
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  -webkit-transition: var(--bs-accordion-btn-icon-transition);
  transition: var(--bs-accordion-btn-icon-transition);
  font-size: var(--bs-accordion-btn-icon-width);
}